<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="YTLWebApplication.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <!-- SECURITY: Encrypted connection strings -->
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue><!-- Encrypted connection string will be here --></CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue><!-- Encrypted data will be here --></CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  
  <!-- Fallback connection string for development -->
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=LAPTOP-MS6HUBRJ;Database=ytldb;Integrated Security=SSPI;MultipleActiveResultSets=True;Connection Timeout=30;Command Timeout=30;Encrypt=True;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>
    <!-- SECURITY: Minimal app settings -->
    <add key="sqlserverdsn" value="Provider=SQLOLEDB;Data Source=LAPTOP-MS6HUBRJ;Database=ytldb;Integrated Security=SSPI;" />
    <add key="MaxLoginAttempts" value="5" />
    <add key="LockoutDurationMinutes" value="15" />
    <add key="SessionTimeoutMinutes" value="30" />
  </appSettings>
  
  <system.web>
    <!-- SECURITY: Production compilation settings -->
    <compilation targetFramework="4.5.1" debug="false" tempDirectory="~/App_Data/Temp/" />
    
    <!-- SECURITY: Forms authentication with secure settings -->
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" 
             timeout="30" 
             requireSSL="true" 
             cookieless="false" 
             protection="All" 
             slidingExpiration="false"
             enableCrossAppRedirects="false"
             cookieSameSite="Strict" />
    </authentication>
    
    <!-- SECURITY: Authorization - deny anonymous users -->
    <authorization>
      <deny users="?" />
    </authorization>
    
    <!-- SECURITY: Allow anonymous access to login and error pages -->
    <location path="Login.aspx">
      <system.web>
        <authorization>
          <allow users="*" />
        </authorization>
      </system.web>
    </location>
    
    <location path="Error.aspx">
      <system.web>
        <authorization>
          <allow users="*" />
        </authorization>
      </system.web>
    </location>
    
    <location path="Logout.aspx">
      <system.web>
        <authorization>
          <allow users="*" />
        </authorization>
      </system.web>
    </location>
    
    <!-- SECURITY: Custom error handling -->
    <customErrors mode="On" defaultRedirect="~/Error.aspx" redirectMode="ResponseRewrite">
      <error statusCode="400" redirect="~/Error.aspx" />
      <error statusCode="401" redirect="~/Login.aspx" />
      <error statusCode="403" redirect="~/Error.aspx" />
      <error statusCode="404" redirect="~/Error.aspx" />
      <error statusCode="500" redirect="~/Error.aspx" />
    </customErrors>
    
    <!-- SECURITY: Secure session configuration -->
    <sessionState mode="InProc" 
                  timeout="30" 
                  cookieless="false" 
                  regenerateExpiredSessionId="true" 
                  cookieTimeout="30" 
                  httpOnlyCookies="true" 
                  cookieSameSite="Strict"
                  cookieRequireSSL="true" />
    
    <!-- SECURITY: HTTP runtime security settings -->
    <httpRuntime targetFramework="4.5.1" 
                 requestValidationMode="4.5" 
                 enableVersionHeader="false" 
                 maxRequestLength="4096" 
                 executionTimeout="90"
                 enableHeaderChecking="true"
                 requestPathInvalidCharacters="&lt;,&gt;,*,%,&amp;,\,?"
                 relaxedUrlToFileSystemMapping="false" />
    
    <!-- SECURITY: Secure pages configuration -->
    <pages controlRenderingCompatibilityVersion="4.0" 
           clientIDMode="AutoID" 
           validateRequest="true" 
           enableViewStateMac="true" 
           viewStateEncryptionMode="Always"
           enableEventValidation="true" />
    
    <!-- SECURITY: Machine key for encryption -->
    <machineKey validationKey="[128-hex-character-key]"
                decryptionKey="[48-hex-character-key]"
                validation="HMACSHA256"
                decryption="AES" />
    
    <!-- SECURITY: Trust level -->
    <trust level="Full" />
    
    <!-- SECURITY: HTTP modules -->
    <httpModules>
      <add name="SecurityModule" type="YTLWebApplication.SecurityModule" />
    </httpModules>
    
    <webServices>
      <protocols>
        <add name="HttpPost" />
      </protocols>
    </webServices>
  </system.web>
  
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
    
    <!-- SECURITY: Comprehensive security headers -->
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <remove name="Server" />
        <add name="X-Frame-Options" value="DENY" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload" />
        <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
        <add name="Content-Security-Policy" value="default-src 'self'; script-src 'self' 'unsafe-inline' https://maps.googleapis.com https://ajax.googleapis.com; style-src 'self' 'unsafe-inline' https://maxcdn.bootstrapcdn.com https://cdnjs.cloudflare.com; img-src 'self' data: https:; font-src 'self' https://cdnjs.cloudflare.com; connect-src 'self'; frame-ancestors 'none';" />
        <add name="Permissions-Policy" value="geolocation=(), microphone=(), camera=(), payment=(), usb=()" />
        <add name="Cross-Origin-Embedder-Policy" value="require-corp" />
        <add name="Cross-Origin-Opener-Policy" value="same-origin" />
        <add name="Cross-Origin-Resource-Policy" value="same-origin" />
      </customHeaders>
    </httpProtocol>
    
    <!-- SECURITY: URL compression -->
    <urlCompression doDynamicCompression="true" doStaticCompression="true" />
    
    <!-- SECURITY: Secure caching -->
    <caching>
      <profiles>
        <add extension=".aspx" policy="DontCache" kernelCachePolicy="DisableCache" />
        <add extension=".ashx" policy="DontCache" kernelCachePolicy="DisableCache" />
      </profiles>
    </caching>
    
    <!-- SECURITY: Static content settings -->
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".kml" />
      <mimeMap fileExtension=".kml" mimeType="application/vnd.google-earth.kml+xml" />
      <clientCache cacheControlMode="DisableCache" />
    </staticContent>
    
    <modules runAllManagedModulesForAllRequests="false">
      <add name="SecurityModule" type="YTLWebApplication.SecurityModule" />
    </modules>
    
    <!-- SECURITY: Handler restrictions -->
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    
    <!-- SECURITY: Request filtering -->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="4194304" maxUrl="4096" maxQueryString="2048" />
        <verbs>
          <add verb="TRACE" allowed="false" />
          <add verb="OPTIONS" allowed="false" />
          <add verb="DELETE" allowed="false" />
          <add verb="PUT" allowed="false" />
        </verbs>
        <fileExtensions>
          <add fileExtension=".config" allowed="false" />
          <add fileExtension=".log" allowed="false" />
          <add fileExtension=".ini" allowed="false" />
          <add fileExtension=".cs" allowed="false" />
          <add fileExtension=".vb" allowed="false" />
          <add fileExtension=".resx" allowed="false" />
          <add fileExtension=".resources" allowed="false" />
        </fileExtensions>
        <hiddenSegments>
          <add segment="bin" />
          <add segment="App_Code" />
          <add segment="App_Data" />
          <add segment="Logs" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    
    <!-- SECURITY: Rewrite rules for additional security -->
    <rewrite>
      <rules>
        <rule name="Force HTTPS" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            <add input="{HTTP_HOST}" pattern="localhost" negate="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:0}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  
  <applicationSettings>
    <YTLWebApplication.My.MySettings>
      <setting name="YTLWebApplication_SMSInsert_GlobalSimService" serializeAs="String">
        <value>http://fleet.avls.com.my/GlobalSimService.asmx</value>
      </setting>
    </YTLWebApplication.My.MySettings>
  </applicationSettings>
</configuration>